body{
    font-family: sans-serif;                                   
}

.slider-container {
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 24rem; /* Sesuaikan ukuran tinggi */

    }

    .slider {
      display: flex;
      transition: transform 0.5s ease-in-out;
    }

    .slide {
      min-width: 100%;
      height: 24rem; /* Sama seperti container */
      background-size: cover;
      background-position: center;
    }

    .slide1 {
      background-image: url('/img/slider1.jpeg');
    }

    .slide2 {
      background-image: url('/img/slider2.jpg');
    }

    .slide3 {
      background-image: url('/img/slider3.jpg');
    }

    /* Tombol navigasi */
    .nav-btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      padding: 0.5rem;
      border-radius: 50%;
      cursor: pointer;
      z-index: 10;
    }

    .prev-btn {
      left: 1rem;
    }

    .next-btn {
      right: 1rem;
    }

    .nav-btn i {
      font-size: 1.5rem; /* Ukuran icon */
    }